<div class="hero bg-base-200 text-base-content p-10">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">トップページ</h1>
      <p class="py-6">本アプリの使い方を記載。本アプリの使い方を記載。本アプリの使い方を記載。本アプリの使い方を記載。本アプリの使い方を記載。本アプリの使い方を記載。</p>
      <div class="flex justify-around items-center">
        <%= link_to image_tag("btn_login_base.png"), "#" %>
        <%= link_to (t '.search_exchange'), search_crypto_exchanges_select_purpose_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
