<header class="bg-primary text-base-content p-10">
  <nav class="flex justify-between w-full">
    <%= link_to ( t "header.top"), root_path, class:"link link-hover text-left" %>
    <div class="flex gap-4">
      <%= link_to ( t "header.search_exchange"), search_crypto_exchanges_select_purpose_path, class:"link link-hover text-end" %>
    </div>
  </nav>
</header>
