<footer class="footer footer-center bg-secondary text-base-content p-10">
  <nav class="flex justify-between w-full">
    <a class="link link-hover text-left">お問い合わせ</a>
    <div class="flex gap-4">
      <a class="link link-hover text-end">利用規約</a>
      <a class="link link-hover text-end">プライバシーポリシー</a>
    </div>
  </nav>
  <aside>
    <p>Copyright © 2024 - All right reserved by Takehiro Sato</p>
  </aside>
</footer>
